{% extends 'index.html' %}

{% block content %}
        <div>
            <h2>Login page</h2>
            <a href="{{ url_for('auth.register') }}">New account</a>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            <div class="login-form">
                <form class="login" method="post">
                    <div>
                        <input id="username-input" name="username" required>
                    </div>
                    <div>
                        <input id="pass" type="password" name="password">
                    </div>
                    <button type="submit">Log in</button>
                </form>
            </div>
        </div>
{% endblock %}