{% extends 'index.html' %}

{% block content %}
    <div>
            <h2>Register page</h2>
            <a href="{{ url_for('auth.login') }}">Log in</a>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            <div class="register-form">
                <form class="register" method="post">
                    <div>
                        <input id="username-input" name="username" required>
                    </div>
                    <div>
                        <input id="pass" type="password" name="password">
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
{% endblock %}