{% extends 'base.html' %}

{% block content %}
    <h2>Hi!</h2>
    {% if current_user.is_authenticated %}
    <div>
        <div class="title">
            <h2>Welcome {{ current_user.username }}</h2>
        </div>
        <div>
            <div class="logout-div">
                <form class="logout" method="post">
                    <button>
                        <a class="logout-link" href="{{ url_for('auth.logout') }}">Log out</a>
                    </button>
                </form>
            </div>
            <div class="add-category">
                <button>
                    <a class="new-category-link" href="{{ url_for('main.add_category') }}">Add category</a>
                </button>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}